/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

$--font-path: "~element-ui/lib/theme-chalk/fonts";
$--color-primary: #ffe411;
$--color-danger: #f44336;
$--msgbox-width: 300px;
$--button-hover-tint-percent: 0;

@import "~element-ui/packages/theme-chalk/src/index";
